.navigation {
    position: relative;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 24px;
    padding-right: 0;

    .nav-toggle {
        z-index: inherit;
        align-self: flex-end;
        width: fit-content;
        background-color: $color-red;
        margin: 0;
        padding: 8px;
        border: none;
        border-radius: 5px 0 0 5px;
        box-shadow: -8px 8px 8px rgba(black, .3);
        transition: all .3s;
        
        &:hover {
            transform: translateY(-4px);
            box-shadow: -12px 12px 12px rgba(black, .3);
        }

        &:active {
            transform: translateY(4px);
            box-shadow: -4px 4px 4px rgba(black, .3);
        }
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        padding: 24px;
        background-color: var(--color-primary);
        overflow: hidden;

        &.nav-visible {
            display: flex;
        }
    
        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
    
            & li {
                display: flex;
                justify-content: center;
                list-style-type: none;
                margin: 32px 0;
            }
        }
    
        &-link {
            font-size: 2rem;
            text-align: center;
            margin: auto;
            font-weight: 800;
            transition: all .3s;
    
            &:active, &:hover {
                color: $color-red;
            }
        }

        .mountains-nav {
            position: absolute;
            bottom: -5%;
            left: 0;

            .back,
            .middle,
            .front {
                animation-duration: 1.2s;
                animation-timing-function: ease-out;
            }

            .back {
                animation-name: slide-down-back;
            }
            
            .middle {
                animation-name: slide-down-middle;
            }
            
            .front {
                animation-name: slide-down-front;
            }
        }
    }
}

@media screen and (min-width: 721px) {
    .navigation {
        padding-right: 24px;

        .nav-toggle {
            display: none;
        }

        .nav {
            display: flex;
            position: static;
            height: fit-content;
            padding: 0;
            width: 100%;

            &-list {
                flex-direction: row;
                justify-content: flex-end;
    
                & li {
                    margin: 0 16px;
                }
            }

            &-link {
                font-size: 1rem;
                padding: 8px;
    
                &:hover {
                    transform: translateY(-3px);
                }
            }

            .mountains-nav {
                display: none;
            }
        }
    }
}

@keyframes slide-down-back {
    from {
        transform: translateY(-2%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slide-down-middle {
    from {
        transform: translateY(-8%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slide-down-front {
    from {
        transform: translateY(-20%);
    }

    to {
        transform: translateY(0%);
    }
}