.landing {
    position: relative;
    height: calc(100vh - $nav-height-normal);
    width: 100vw;
    margin-top: $nav-height-normal;
    padding: 0 32px;
    overflow: hidden !important;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .name,
    .text {
        background-color: var(--color-primary);
        z-index: 99;
    }

    .name {
        font-size: 3rem;
    }

    .text {
        color: $color-red;
    }

    .buttons {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 32px;

        .button {
            @include button;
            width: 70%;
        }
    }
}

@media screen and (min-width: 721px) {
    .landing {

        .buttons {
            flex-direction: row;
            justify-content: center;

            .button {
                width: 250px;
                margin: 32px;
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    .landing {
        background-position: 0% 96%;
    }
}