.landing-wrapper {
    filter: drop-shadow(0px 8px 12px rgba(black, .5));
}

.landing {
    position: relative;
    top: -$nav-height-normal;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;
    margin-top: $nav-height-normal;
    padding: 0 32px;
    padding-bottom: 5vh; // to prevent .landing content from overflowing the largest part of the clip-path area
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%);
    overflow: hidden !important;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .name,
    .text {
        z-index: 99;
    }

    .name {
        font-size: 3rem;
    }

    .text {
        color: $color-red;
    }

    .buttons {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 32px;

        .button {
            @include button;
            width: 70%;
        }
    }
}

@media screen and (min-width: 721px) {
    .landing {

        .buttons {
            flex-direction: row;
            justify-content: center;

            .button {
                width: 250px;
                margin: 32px;
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    .landing {
        background-position: 0% 96%;
    }
}