.stars {
    position: absolute;
    top: 0;
    left: 0;

    .shooting-star {
        opacity: 0;
        stroke-dasharray: 220;
        animation: shooting-star 1s forwards;

        &.first {
            animation-delay: 1s;
        }

        &.second {
            animation-delay: 2s;
        }

        &.third {
            animation-delay: 4s;
        }
    }
}

@keyframes shooting-star {
    from {
        opacity: 1;
        stroke-dashoffset: -200;
    }
    
    to {
        stroke-dashoffset: 200;
    }
}