html,
body {
    padding: 0;
    margin: 0;
    font-family: Corn, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    // scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.grecaptcha-badge {
    display: none;
}

@font-face {
    font-family: Corn;
    src: url('/CornDemo-Regular.ttf');
    font-display: swap;
}

:root {
    --color-primary: #{$color-bone};
    --color-primary-light: #{$color-white};
    --color-secondary: #{$color-graphite};
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #{$color-bone};
        --color-primary-light: #{$color-white};
        --color-secondary: #{$color-graphite};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #{$color-graphite};
        --color-primary-light: #{$color-gray};
        --color-secondary: #{$color-bone};
    }
}