html,
body {
    padding: 0;
    margin: 0;
    font-family: Corn, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background-image: url('/paper.webp');
    background-size: 100% auto;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.grecaptcha-badge {
    display: none;
}

@font-face {
    font-family: Corn;
    src: url('/CornDemo-Regular.ttf');
    font-display: swap;
}