.home {
    position: relative;
    height: calc(100vh - 100px);
    width: 100vw;
    padding: 0 32px;
    overflow: hidden !important;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name {
        font-size: 3rem;
    }

    .text {
        color: $color-red;
    }

    .buttons {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .button {
            @include button;
            width: 70%;
        }
    }

    .mountains-home {
        position: absolute;
        bottom: 0;
        left: 0;

        .back,
        .middle,
        .front {
            animation-duration: 1.2s;
            animation-timing-function: ease-out;
        }
        
        .back {
            animation-name: slide-in-back;
        }
        
        .middle {
            animation-name: slide-in-middle;
        }
        
        .front {
            animation-name: slide-in-front;
        }
    }
}

@media screen and (min-width: 721px) {
    .home {

        .buttons {
            flex-direction: row;
            justify-content: center;

            .button {
                width: 250px;
                margin: 32px;
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    .home {
        background-position: 0% 96%;
    }
}

@keyframes slide-in-back {
    from {
        transform: translateX(-2%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-in-middle {
    from {
        transform: translateX(-5%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-in-front {
    from {
        transform: translateX(-15%);
    }

    to {
        transform: translateX(0%);
    }
}