.menu-bar {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
    padding-right: 0;

    .menu-button {
        background-color: $color-red;
        border: none;
        padding: 8px;
        border-radius: 5px 0 0 5px;
        transition: all .3s;
        box-shadow: -5px 5px 5px rgba(black, .3);
        
        &:active {
            transform: translateY(4px);
            box-shadow: -3px 3px 3px rgba(black, .3);
        }
    }
}