.mountains {
    position: absolute;
    bottom: 0;
    left: 0;

    .back,
    .middle,
    .front {
        animation-duration: 1.2s;
        animation-timing-function: ease-out;
    }
    
    .back {
        animation-name: slide-in-back;
    }
    
    .middle {
        animation-name: slide-in-middle;
    }
    
    .front {
        animation-name: slide-in-front;
    }

    .shooting-star {
        opacity: 0;
        stroke-dasharray: 220;
        animation: shooting-star 1s forwards;

        &.first {
            animation-delay: 1s;
        }

        &.second {
            animation-delay: 2s;
        }

        &.third {
            animation-delay: 4s;
        }
    }
}

@keyframes slide-in-back {
    from {
        transform: translateX(-2%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-in-middle {
    from {
        transform: translateX(-5%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-in-front {
    from {
        transform: translateX(-15%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes shooting-star {
    from {
        opacity: 1;
        stroke-dashoffset: -200;
    }
    
    to {
        stroke-dashoffset: 200;
    }
}